<div class="div-cont_main bg-img">
 <h1>Cocktail time!</h1>

  

<div>
 <form class="form-inline">
  <div class="form-group mb-2">
    <label for="staticEmail2" class="sr-only">Find for</label>
    <input type="text" class="form-control-plaintext" id="staticEmail2" value="mojito">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Find Cocktail</button>
</form>
</div>
</div>